/* Sidebar.css */

h6{
  line-height: 0rem;
}
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #fff;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;
    padding-left: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

 .sidebar:hover {
  transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
 
  
  .sidebar-title {
    font-size: 24px;
    color: #000;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    
  }
  
  .sidebar-menu li {
    margin-bottom: 20px;
    
  }
  
  .sidebar-menu a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    color: #000;
  }
  
  .sidebar-menu a:hover {
    background-color: #d6ceb695;
    border-radius: 4px;
  }

  .log-out-btn{
    background-color: #E0CB90;
    color: #fff;
    width: 200px;
    border-width: 0;
    border-radius: 4px;
  }
  
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
  }
  
  .add-exam-btn {
    margin-bottom: 20px;
    margin-left: auto;
    display: block;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .add-exam-btn:hover {
    background-color: #45a049;
  }
  