.authentication-settings {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .authentication-settings h2 {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .qr-toggle,
  .auth-method-select {
    margin-bottom: 15px;
  }
  .qr-toggle{
    display: flex;
    flex-direction: row;
    
  }
  #auth-method{
    background-color: #fff;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border-color: #ccc;
    border-radius: 4px;
    padding: 8px 15px;
  }
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="checkbox"],
  select {
    margin-top: 5px;
  }
  
  .current-selection {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }

  .current-selection-btn{
    padding: 10px 20px;
    color: #fff;
    background-color: black;
    border-width: 0;
  }
  